.git
.gitignore
.idea
.vscode
.env
node_modules
vendor
tests
storage/app/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.github
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
README.md
SPECS.md
docker/
.devcontainer/ 